*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    font: 400 16px/1 "Comic Sans MS", tahoma, verdana, sans-serif;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}

img {
    max-width: 100%;
}
table {
    border-collapse: collapse;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}